.logo {
  display: flex;
  gap: 10px;
}

.cameras {
  display: grid;
  grid-template-columns: repeat(4, 22px);
  grid-template-rows: repeat(2, 22px);
  gap: 3px;
  align-items: center;
  justify-items: center;
}

.camera_row {
  border-radius: 50%;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white-fff);
  font-size: 10px;
}

.rnd_btns {
  display: flex;
  gap: 15px;
  justify-content: end;
  overflow: auto;

  &__block {
    overflow: auto;
    white-space: nowrap;

    display: flex;
    gap: 10px;
  }
}