.container {
  display: grid !important;
  grid-template-rows: min-content 1fr;
  box-shadow: 0 0 5px 1px var(--color-black-000);
  height: 100%;
  border-radius: 5px;
  overflow: hidden;

  &_active {
    box-shadow: 0 0 8px 5px var(--color-black-000);
  }

  &_light {
    background-color: var(--color-blue-691);
  }

  &_dark {
    background-color: var(--color-blue-85c);
  }
}

.header {
  background-color: var(--color-blue-691);
  padding: 5px 10px;
  border-bottom: 1px solid var(--color-white-fff);
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover {
    cursor: grab;
  }

  &__label {
    cursor: default;
    color: var(--color-white-fff);
    font-size: 14px;
    line-height: 17px;
  }
}

.body {
  padding: 5px 10px;
}

.hide {
  display: none !important;
}
