.container {
  display: grid !important;
  grid-template-rows: min-content 1fr;
  box-shadow: 0 0 5px 1px var(--color-black-000);
  height: 100%;
  border-radius: 5px;
  overflow: hidden;

  &_active {
    box-shadow: 0 0 8px 5px var(--color-black-000);
  }
}

.header {
  background-color: var(--color-blue-691);
  padding: 5px 10px;

  &:hover {
    cursor: grab;
  }

  &__label {
    cursor: default;
  }
}

.body {
  padding: 5px 10px;
}
