.component {
  height: var(--height);
  padding: 10px 12px;
  font-size: 12px;
  border-radius: 5px;

  &__dark {
    background-color: var(--color-blue-85c);
    color: var(--color-blue-841);

    &:hover {
      color: var(--color-blue-691);
    }
  }

  &__light {
    background-color: var(--color-blue-691);
    color: var(--color-white-fff);

    &:hover {
      color: var(--color-blue-cea);
    }
  }

  &__without_effects {
    pointer-events: none;
  }

  &__icon_view {
    padding: 10px;

    & > div {
      pointer-events: none;
    }

    &_dark {
      & > div {
        color: var(--color-blue-85c);
      }
      &:hover > div {
        color: var(--color-blue-691);
      }
    }
    &_light {
      & > div {
        color: var(--color-white-fff);
      }
      &:hover > div {
        color: var(--color-blue-cea);
      }
    }
  }

  &[disabled]:not([disabled='false']) {
    cursor: not-allowed;
    filter: brightness(0.9);
    opacity: 0.5;
  }
}