.component {
  height: var(--height);
  padding: 10px 12px;
  border-radius: 5px;
  color: var(--color-white-fff);
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;

  &:hover {
    cursor: pointer;
    color: var(--color-blue-cea);
  }

  &__dark {
    background-color: var(--color-blue-85c);
  }

  &__light {
    background-color: var(--color-blue-691);
  }

  &__darkReverse {
    background-color: var(--color-gray-2d2);
  }

  &__lightReverse {
    background-color: var(--color-white-opacity12);
    //opacity: 0.8;
  }

  &__without_effects {
    pointer-events: none;
  }

  &__icon_view {
    padding: 10px;

    & > div {
      pointer-events: none;
    }

    &_dark {
      & > div {
        color: var(--color-blue-85c);
      }

      &:hover > div {
        color: var(--color-blue-691);
      }
    }

    &_light {
      & > div {
        color: var(--color-white-fff);
      }

      &:hover > div {
        color: var(--color-blue-cea);
      }
    }
  }

  &__transparent {
    background-color: var(--transparent);
    padding: 0;
  }

  &__full_width {
    width: 100%;
  }

  &__full_clickable {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: var(--transparent);
    height: 100%;
  }

  &[disabled]:not([disabled='false']) {
    cursor: not-allowed;
    filter: brightness(0.9);
    opacity: 0.5;
  }
}

.label {
  font-size: 12px;

  &__dropdown {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
  }
}