.component {
  & > svg {
    width: var(--width);
    height: var(--height);
  }

  &__dark {
    color: var(--color-blue-85c);

    &:hover {
      color: var(--color-blue-691);
    }
  }

  &__light {
    color: var(--color-white-fff);

    &:hover {
      color: var(--color-blue-cea);
    }
  }

  &__without_effects {
    pointer-events: none;
  }
}