@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-ThinBETA.woff2') format('woff2'),
  url('../fonts/Inter/Inter-ThinBETA.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-ThinItalicBETA.woff2') format('woff2'),
  url('../fonts/Inter/Inter-ThinItalicBETA.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-ExtraLightBETA.woff2') format('woff2'),
  url('../fonts/Inter/Inter-ExtraLightBETA.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-ExtraLightItalicBETA.woff2') format('woff2'),
  url('../fonts/Inter/Inter-ExtraLightItalicBETA.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-LightBETA.woff2') format('woff2'),
  url('../fonts/Inter/Inter-LightBETA.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-LightItalicBETA.woff2') format('woff2'),
  url('../fonts/Inter/Inter-LightItalicBETA.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-Regular.woff2') format('woff2'),
  url('../fonts/Inter/Inter-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-Italic.woff2') format('woff2'),
  url('../fonts/Inter/Inter-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-Medium.woff2') format('woff2'),
  url('../fonts/Inter/Inter-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-MediumItalic.woff2') format('woff2'),
  url('../fonts/Inter/Inter-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-SemiBold.woff2') format('woff2'),
  url('../fonts/Inter/Inter-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-SemiBoldItalic.woff2') format('woff2'),
  url('../fonts/Inter/Inter-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-Bold.woff2') format('woff2'),
  url('../fonts/Inter/Inter-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-BoldItalic.woff2') format('woff2'),
  url('../fonts/Inter/Inter-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-ExtraBold.woff2') format('woff2'),
  url('../fonts/Inter/Inter-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-ExtraBoldItalic.woff2') format('woff2'),
  url('../fonts/Inter/Inter-ExtraBoldItalic.woff') format('woff');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-Black.woff2') format('woff2'),
  url('../fonts/Inter/Inter-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-BlackItalic.woff2') format('woff2'),
  url('../fonts/Inter/Inter-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

:root {
  --color-gray-2d2: #d2d2d2;

  --color-black-000: #000000;

  --color-white-fff: #ffffff;
  --color-white-opacity12: rgba(255, 255, 255, 0.12);
  --color-white-opacity80: rgba(255, 255, 255, 0.8);
  --color-white-opacity00: rgba(0, 0, 0, 0);

  --transparent: transparent;

  --color-blue-99a: #2c499a;
  --color-blue-841: #132841;
  --color-blue-89d: #5c789d;
  --color-blue-691: #456691;
  --color-blue-cea: #b5ccea;
  --color-blue-85c: #1a385c;

  --color-red-929: #bb2929;

  --color-green-14c: #45914c;

  --test: #ffb968;

  --font-family: 'Inter', sans-serif;
}

* {
  padding: 0;
  margin: 0;
  border: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  outline: none !important;
  scrollbar-color: var(--color-blue-89d) var(--color-gray-2d2);
  scrollbar-width: thin;
}

body {
  width: 100%;
  max-height: 100vh;
  min-width: 320px;
  font-size: 16px;
  font-family: var(--font-family);
  font-style: normal;
  font-stretch: normal;
  font-weight: normal;
  line-height: 15px;
  letter-spacing: normal;
  text-align: left;
  color: var(--color-black-000);
  overscroll-behavior: none;
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
}

li {
  list-style-type: none;
}

a {
  cursor: pointer;
  color: var(--color-blue-691);
  transition: 0.2s;
  outline: none !important;
  -webkit-tap-highlight-color: var(--color-white-opacity00) !important;
  text-decoration: none;

  &:hover {
    color: var(--color-blue-691);
    text-decoration: none;
  }
}

* {
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  &::-webkit-scrollbar-track {
    background: var(--color-white-opacity12);
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--color-gray-2d2);
    border-radius: 5px;
  }

  &::-webkit-scrollbar-corner {
    background: var(--transparent);
  }
}